.table-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.App table {
  width: 100%;
  text-align: left; /* Align text to the left */
  border-collapse: collapse;
}

tbody tr td {
  padding: 10px 10px 10px 0; /* Remove left padding */
  background-color: white; /* Optional: Ensure consistent background */
}

tbody tr td:first-child {
  max-width: 25vw;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Table Borders */
.App tbody tr {
  border-bottom: none;
}

.due-check {
  color: red;
}

/* Update Indicators */
.update-indicators {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  justify-content: center;
}

.update-indicators div {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.update-indicators .indicator-circle.filled {
  transform: scale(1.2); /* Optionally add a little effect when filled */
}

/* Colors for Update Directions */
.update-indicators .indicator-circle.greater {
  background-color: red;
}

.update-indicators .indicator-circle.lower {
  background-color: green;
}

.update-indicators .indicator-circle.equal {
  background-color: blue;
}

/* Responsive Design */
@media (max-width: 600px) {
  .table-container {
    overflow-x: auto;
  }
  
  .update-indicators div {
    width: 10px;
    height: 10px;
  }
}
