@import "ingredients/table/table.css";
@import "ingredients/table/ingredient-update-form.css";
@import "ingredients/detail.css";
@import "ingredients/changes.css";

.App {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px; /* Add this line */
}

.tabs-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-bottom: 2px solid #ccc;
}

.tab-buttons {
  display: flex;
  justify-content: space-around;
}

.tab-button {
  flex: 1;
  padding: 12px 0;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  z-index: 2;
  color: #666;
}

.tab-button:hover {
  color: #333;
}

.tab-button.active {
  color: #4caf50;
}

.active-indicator {
  position: absolute;
  bottom: -2px;
  height: 4px;
  width: 33.33%;
  background-color: #4caf50;
  transition: left 0.3s ease;
  z-index: 1;
}

.App a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
  font-weight: bold;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #444;
  transition: color 0.2s ease;
}

.arrow-button:disabled {
  color: #ccc;
  cursor: default;
}

.arrow-button.left {
  left: 1rem;
}

.arrow-button.right {
  right: 1rem;
}
