@import "ingredient-table.css";
@import "ingredient-update-form.css";

.App {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 600px) {
  .App table {
    font-size: 12px;
    width: 100%;
  }
}
